<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--配置上传路径、图片返回路径、图片保存路径-->
    <add key="ServiceUrl" value="http://dev.strosoft.com:6090/BSS/api/Service?serviceName=UploadFile" />
    <add key="Returnpath" value="https://www.toolkip.com/miniProgram/opencvtest/opencv/" />
    <add key="Savepath" value="C:\toolkipweb\miniProgram\opencvtest\opencv\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
        <identity impersonate="true" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
</configuration>